{{#if @labs.members}}
  <h2><span id="cove-count"></span> Comments</h2>
  {{#if @member}}
    <div id="cove"></div>
    <p>Signed in as {{@member.email}} · <a href="javascript:" data-members-signout>Sign out</a></p>
  {{else}}
    <p>Sign in or become a {{@site.title}} member to read and leave comments.<br>
    Just enter your email below to get a log in link.</p>
    <form data-members-form="signin" id="cove-login">
      <input class="cove-input" data-members-email type="email" required="true" placeholder="your@email.com" />
      <button type="submit" class="cove-button">Send a log in link</button>
      <span class="signin-success" style="display:none">Great! Please check your inbox (or spam folder) for a log in link.</span>
      <span class="signin-error" style="display:none">Something didn't work. Please try again.</span>
    </form>
  {{/if}}

  <script>
    const Cove = {
      publication: "e390e63588a52b3a2a45e6bf9e8a34e4",
      contentId: "{{id}}",
      memberId: "{{@member.uuid}}",
      memberEmail: "{{@member.email}}"
    };
  </script>
{{/if}}